{% extends "base.html" %}

{% block content %}
    <div class="blog-feed-container">
        <h1>Feed:</h1>
        <ul class="post-list">
            {% for post in posts %}
                <li class="post-item">
                    <a class="post-title" href="{% url 'post_detail' post_id=post.pk %}">{{ post.title }}</a>
                    <small class="post-date">Published on: {{ post.pub_date }}</small>
                    <small class="post-author">Posted by: {{ post.author.username }}</small>
                </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        <a class="create-post-btn" href="{% url 'post_create' %}">Create New Post</a>
        {% endif %}
    </div>
{% endblock %}
