{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}{% endblock %}</title>
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav-brand" href="{% url 'post_list' %}">Blog 180</a>
            {% if user.is_authenticated %}
                <div class="nav-item">logged in as: {{ user.username }}</div>
                <a class="nav-button" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-button" href="{% url 'login' %}">Login</a>
                <a class="nav-button" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </nav>
    </header>
    <main class="container mx-auto">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Scripts -->
    {% comment %} <script src="{% static 'js/app.js' %}"></script> {% endcomment %}
    {% block extra_js %}{% endblock %}
</body>
</html>
